
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bottleneck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 1.2em;
            color: #666;
        }
    </style>
</head>
<body>
    <h1>welcome to flasking</h1>
    <p>guten tag, meine freunde</p>
    <p>click below to use the routes~</p>
    <ul>
        <li><a href="/">home- this is where we are!</a></li>
        <li><a href="/about">freak out</a></li>
    </ul>

    <button id="demobattan">press me press me</button>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
